{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Boards</li>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead class="thread-inverse">
            <th>Board</th>
            <th>Topics</th>
            <th>Posts</th>
            <th>Last Post</th>
        </thead>
        <tbody>
            {% for board in boards %}
            <tr>
                <td>
                    <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a> <br>
                    <small class="text-muted d-block">{{ board.description }}</small>
                </td>
                <td>0</td>
                <td>0</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}